.reminder-list-modal {
  width: 400px;
  height: 200px;

  &__header {
    width: 100%;
    display: flex;
    color: var(--dark-color);
    justify-content: space-between;

    p {
      font-weight: bold;
    }
  }

  &__list {
    margin: 0;
    padding: 0;
    list-style: none;

    li {
      margin: 7px 0;
      color: var(--weekends);
      font-weight: bold;
      background: var(--white-text);
      cursor: pointer;
      padding: 7px 0;
      border-radius: 7px;
      text-align: center;
      border: 1px solid var(--weekends);
      text-transform: capitalize;
    }
  }

  &__add-reminder {
    width: 100%;
    color: white;
    font-weight: bold;
    background: var(--weekends);
    height: var(--btn-height);
    border: none;
    border-radius: 5px;
  }
}
