.calendar {
  &__header {
    text-align: center;
    padding: 15px 0;
  }

  &__month {
    display: flex;
    min-height: 200px;
    flex-direction: column;
    border: 1px solid var(--dividers);
    border-top: none;
  }

  &__week {
    display: flex;
    flex-direction: row;
  }

  &__day {
    height: 95px;
    display: flex;
    cursor: pointer;
    padding-left: 2px;
    color: var(--out-days);
    flex-direction: column;
    width: var(--cell-size);
    border: 1px solid var(--dividers);

    &--today {
      color: white;
      font-weight: bold;
      border-radius: 15%;

      span {
        padding: 3px;
        text-align: center;
        background: var(--weekends);
      }
    }

    &--current {
      color: var(--dark-color);
      font-weight: bold;
    }

    &--weekend {
      color: var(--weekends);
      font-weight: bold;
    }
  }

  &__reminder-list {
    li {
      color: var(--dark-color);
      font-size: 12px;
      list-style: none;
    }
  }
}
